body {
  color: #434455;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.section-titel {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-subtitel {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.section-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*---------------------HEADER---------------------------*/

.header-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-blue {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-menu-link:hover,
.header-address-list-link:hover,
.header-menu-link:focus,
.header-address-list-link:focus {
  color: #404bbf;
}

.header-address-list-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-address {
  font-style: normal;
}

/*------------------------------------------------*/

/*---------------------HERO---------------------------*/

.hero {
  background: var(--NAVY-BLUE, #2e2f42);
}

.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-btn {
  color: var(--WHITE, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*---------------------FEATURES---------------------------*/

.features {
  background-color: #f4f4fd;
}
.features-list {
  background-color: #ffffff;
}
.features-item {
}
.features-subtitel {
}
.features-item-text {
}

/*------------------------------------------------*/
/*---------------------TEAM---------------------------*/

.team {
  background: var(--CLOUD, #f4f4fd);
}
.team-title {
}
.team-text {
}
.team-list {
}
.team-item {
  background-color: #ffffff;
}
.team-img {
}

.team-subtitel {
}

/*------------------------------------------------*/
/*---------------------PORTFOLIO---------------------------*/

.portfolio {
}
.portfolio-titel {
}
.portfolio-list {
}
.portfolio-item {
}
.portgolio-img {
}
.portfolio-subtitel {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*------------------------------------------------*/
/*---------------------FOOTER---------------------------*/

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
}
.footer-logo {
  color: var(--CLOUD, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: var(--NAVY-BLUE, #2e2f42);
}
.footer-logo-blue {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: var(--NAVY-BLUE, #2e2f42);
}
.footer-heading {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background: var(--NAVY-BLUE, #2e2f42);
}
